@model LowCode.Models.Attribute

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAttribute">
            <div class="form-group">
                <label asp-for="LogicalName" class="control-label"></label>
                <input type="text" asp-for="LogicalName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input type="text" asp-for="DisplayName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input type="text" asp-for="Description" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>