@model List<IDictionary<string, object>>
<table class="table">
    <tbody>
        <thead>
            <tr>
                @foreach (var item in Model[0])
                {
                    <th>
                        @item.Key
                    </th>
                }
            </tr>

        </thead>
        @foreach (var row in Model)
        {
            <tr>
                @foreach (var item in row)
                {
                    <td>
                        @item.Value
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
